app:
  title: Backstage | Local Developer Portal

organization:
  name: Local Developer Portal

backend:
  listen:
    port: 7007
  csp:
    connect-src: ["'self'", 'http:', 'https:']
  cors:
    origin: http://localhost:3000
    methods: [GET, HEAD, PATCH, POST, PUT, DELETE]
    credentials: true
  cache:
    store: memory

catalog:
  useUrlReadersSearch: true
  orphanStrategy: delete
  processingInterval: { minutes: 5 }
  import:
    entityFilename: catalog-info.yaml
    pullRequestBranchName: backstage-integration
  rules:
    - allow: [Component, System, API, Resource, Location, Template, User, Group]