apiVersion: v1
kind: ConfigMap
metadata:
  name: extra-app-config
data:
  app-config.extra.yaml: |
    app:
      title: "GlobalLogic Backstage"
      baseUrl: https://portal.host.docker.internal

    backend:
      baseUrl: https://portal.host.docker.internal
      listen:
        port: 7007
      cors:
        origin: https://portal.host.docker.internal
        methods: [GET, POST, PUT, DELETE]
        credentials: true

    auth:
      environment: production
      providers:
        oidc:
          production:
            metadataUrl: https://auth.host.docker.internal/api/oidc/.well-known/openid-configuration
            clientId: backstage-client
            clientSecret: insecure_secret
            prompt: auto
            signIn:
              resolvers:
                - resolver: emailMatchingUserEntityProfileEmail
            tokenEndpointAuthMethod: client_secret_post
            scope: openid profile email