apiVersion: v1
kind: ConfigMap
metadata:
  name: extra-app-config
  app-config.yaml: |
    app:
      title: "GlobalLogic Backstage"
      baseUrl: https://portal.172.19.115.102.nip.io

    backend:
      baseUrl: https://portal.172.19.115.102.nip.io
      listen:
        port: 7007
      cors:
        origin: https://portal.172.19.115.102.nip.io
        methods: [GET, POST, PUT, DELETE]
        credentials: true

    auth:
      environment: production
      providers:
        oidc:
          production:
            metadataUrl: https://auth.172.19.115.102.nip.io/api/oidc/.well-known/openid-configuration
            clientId: backstage-client
            clientSecret: insecure_secret
            prompt: auto
            signIn:
              resolvers:
                - resolver: emailMatchingUserEntityProfileEmail
            tokenEndpointAuthMethod: client_secret_post
            scope: openid profile email