apiVersion: v1
kind: ConfigMap
metadata:
  name: extra-app-config
data:
  app-config.extra.yaml: |
    app:
      title: "GlobalLogic Backstage"
      baseUrl: https://portal-127-0-0-1.nip.io

    backend:
      baseUrl: https://portal-127-0-0-1.nip.io
      listen:
        port: 7007
      cors:
        origin: https://portal-127-0-0-1.nip.io
        methods: [GET, POST, PUT, DELETE]
        credentials: true

    auth:
      environment: production
      providers:
         guest:
          enabled: true
        oidc:
          production:
            metadataUrl: https://auth-127-0-0-1.nip.io/api/oidc/.well-known/openid-configuration
            clientId: backstage-client
            clientSecret: insecure_secret
            prompt: auto
            signIn:
              resolvers:
                - resolver: emailMatchingUserEntityProfileEmail
            tokenEndpointAuthMethod: client_secret_post
            scope: openid profile email
    catalog:
      useUrlReadersSearch: true
      orphanStrategy: delete
      processingInterval: { minutes: 5 }
      import:
        entityFilename: catalog-info.yaml
        pullRequestBranchName: backstage-integration
      rules:
        - allow: [Component, System, API, Resource, Location, Template, User, Group]
    
    techdocs:
      builder: 'local'
      generator:
        runIn: 'local'
      publisher:
        type: 'local'