apiVersion: v1
kind: ConfigMap
metadata:
  name: extra-app-config
data:
  app-config.extra.yaml: |
    app:
      title: "GlobalLogic Backstage"
      baseUrl: https://portal.127.0.0.1

    backend:
      baseUrl: https://portal.127.0.0.1
      listen:
        port: 7007
      cors:
        origin: https://portal.127.0.0.1
        methods: [GET, POST, PUT, DELETE]
        credentials: true

    auth:
      environment: production
      providers:
        oidc:
          production:
            metadataUrl: https://auth.127.0.0.1/api/oidc/.well-known/openid-configuration
            clientId: backstage-client
            clientSecret: insecure_secret
            prompt: auto
            signIn:
              resolvers:
                - resolver: emailMatchingUserEntityProfileEmail
            tokenEndpointAuthMethod: client_secret_post
            scope: openid profile email
    
    techdocs:
      builder: 'local'
      generator:
        runIn: 'local'
      publisher:
        type: 'local'