
backstage:
  ingress:
    enabled: true
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      cert-manager.io/cluster-issuer: selfsigned
    host: portal.172.19.115.102.nip.io
    tls:
      enabled: true
      secretName: backstage-tls
  extraAppConfig:
   - filename: app-config.extra.yaml
     configMapRef: extra-app-config