
backstage:
  ingress:
    enabled: true
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      cert-manager.io/cluster-issuer: selfsigned
    host: portal.host.docker.internal
    tls:
      enabled: true
      secretName: backstage-tls
  backstage:
    extraAppConfig:
    - filename: app-config.extra.yaml
      configMapRef: extra-app-config