traefik:
  providers:
    kubernetesCRD:
      allowExternalNameServices: true
      allowCrossNamespace: true
    kubernetesIngress:
      allowExternalNameServices: true
      publishedService:
        enabled: true

  deployment:
    kind: DaemonSet

  tlsStore:
    default:
      defaultCertificate:
        secretName: default-tls

  ingressRoute:
    dashboard:
      enabled: true

  ports:
    web:
      nodePort: 30080
    websecure:
      nodePort: 30443
    traefik:
      nodePort: 30900

  service:
    type: NodePort

  metrics:
    prometheus:
      enabled: true

  additionalArguments:
    - --api.insecure=true
    - --log.level=INFO

  nodeSelector:
    ingress-ready: "true"
  tolerations:
    - key: node-role.kubernetes.io/control-plane
      operator: Exists
      effect: NoSchedule
    - key: node-role.kubernetes.io/master
      operator: Exists
      effect: NoSchedule
