gitea:
  ingress:
    enabled: true
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      cert-manager.io/cluster-issuer: selfsigned
    hosts:
      - host: vcs.127.0.0.1
    tls:
      - secretName: gitea-server-tls
        hosts:
          - vcs.127.0.0.1
  valkey-cluster:
    enabled: false
  valkey:
    enabled: true
  postgresql-ha:
    enabled: false
  postgresql:
    enabled: true