gitea:
  ingress:
    enabled: true
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      cert-manager.io/cluster-issuer: ca-issuer
    hosts:
      - host: vcs-127-0-0-1.nip.io
    tls:
      - secretName: gitea-server-tls
        hosts:
          - vcs-127-0-0-1.nip.io

  # Gitea internal configuration
  config:
    server:
      ROOT_CA: /etc/ssl/certs/ldp-ca.pem

    # Optional but recommended to avoid internal IP redirects
    service:
      DISABLE_REGISTRATION: true

    oauth2_client:
      ENABLE_AUTO_REGISTRATION: true

  # OIDC Login via Authelia
  gitea:
    oauth:
      - name: "Authelia"
        provider: "openidConnect"
        key: "gitea"
        secret: "insecure_secret"
        autoDiscoverUrl: "https://auth-127-0-0-1.nip.io/.well-known/openid-configuration"
        scopes:
          - "openid"
          - "profile"
          - "email"
          - "groups"

  valkey-cluster:
    enabled: false
  valkey:
    enabled: true

  postgresql-ha:
    enabled: false
  postgresql:
    enabled: true

  # Mount CA certificate into container
  extraVolumes:
    - name: ca
      configMap:
        name: ca
        defaultMode: 420

  extraVolumeMounts:
    - name: ca
      mountPath: /etc/ssl/certs/ldp-ca.pem
      subPath: trust-bundle.pem
      readOnly: true
