gitea:
  ingress:
    enabled: true
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      cert-manager.io/cluster-issuer: ca-issuer
    hosts:
      - host: vcs-127-0-0-1.nip.io
    tls:
      - secretName: gitea-server-tls
        hosts:
          - vcs-127-0-0-1.nip.io

    service:
      DISABLE_REGISTRATION: true

    oauth2_client:
      ENABLE_AUTO_REGISTRATION: true

  gitea:
    oauth:
      - name: "Authelia"
        provider: "openidConnect"
        key: "gitea"
        secret: "insecure_secret"
        autoDiscoverUrl: "https://auth-127-0-0-1.nip.io/.well-known/openid-configuration"
        scopes:
          - "openid"
          - "profile"
          - "email"
          - "groups"

  valkey-cluster:
    enabled: false
  valkey:
    enabled: true

  postgresql-ha:
    enabled: false
  postgresql:
    enabled: true

  extraVolumes:
    - name: ca
      configMap:
        name: ca
    - name: ca-store
      emptyDir: {}

  extraVolumeMounts:
    - name: ca-store
      mountPath: /usr/local/share/ca-certificates

  initContainers:
    - name: update-ca
      image: alpine:3.20
      command:
        - sh
        - -c
        - |
          cp /ca/trust-bundle.pem /usr/local/share/ca-certificates/ldp-ca.crt
          update-ca-certificates || true
      volumeMounts:
        - name: ca
          mountPath: /ca
        - name: ca-store
          mountPath: /usr/local/share/ca-certificates
      resources: {}
